<%= render 'books/list', book: @book, books: @books %>

<div class="col-md-8 offset-md-1">
 <h3>Books</h3>

   <table class="table table-striped">
    <thead>
    <tr>
     <th>Title</th>
     <th>Opinion</th>

    </tr>
    </thead>

    <tbody>
    <% @books.each do |book| %>
    <tr>
     <td>
     <%= link_to attachment_image_tag(book.user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'100x100'), user_path(book.user) %>
     <span><%= link_to book.title, "/books/#{book.id}" %></span>
     </td>
     <td>
     <%= book.body %>
     </td>
    </tr>

    <% end %>

    </tbody>
   </table>

</div>